# -- Symfony2 -----------------------------------------
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/config/parameters.yml
app/SymfonyRequirements.php
app/cache/*
app/logs/*
app/sessions/
bin/*
vendor/*
web/bundles/*
web/uploads/*
web/include/*
web/css/*
web/js/*

# -- Sylius -----------------------------------------
web/vendor/*

# -- WordPress -----------------------------------------
*.log
web/blog/.htaccess
web/blog/sitemap.xml
web/blog/sitemap.xml.gz
web/blog/wp-config.php
web/blog/wp-config_prod.php
web/blog/wp-content/advanced-cache.php
web/blog/wp-content/backup-db/
web/blog/wp-content/backups/
web/blog/wp-content/blogs.dir/
web/blog/wp-content/cache/
web/blog/wp-content/upgrade/
web/blog/wp-content/uploads/
web/blog/wp-content/wp-cache-config.php
=======
./juanma

# -- Composer -----------------------------------------
composer.phar

# -- PHPUnit ------------------------------------------
app/phpunit.xml

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# eclipse
*.pydevproject
.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# phpstorm
.idea/

# textmate
*.tmproj
*.tmproject
tmtags

# sublimetext
/*.sublime-project
*.sublime-workspace

# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.travis.yml
!.gitignore
!.htaccess
*~

# Mac OS X
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

!/.editorconfig
